
<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="push">
        <!--cabecera de menu-->
        <mat-toolbar color='secondary'>
            <span>Menu</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <!--cuerpo de menu-->
        <mat-nav-list role="list">
            <mat-list-item routerLink="admin/cliente" (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>label</mat-icon>Cliente
            </mat-list-item>
            <mat-list-item routerLink="./agregar" (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>add</mat-icon>Agregar heroe
            </mat-list-item>
            <mat-list-item routerLink="./buscar" (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>search</mat-icon>buscar heroe
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        <span class="spacer"></span>
        <button mat-button>Logout</button>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>
